meta charset='utf-8'
meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'
title =html_title(current_article, current_resource)

/ Feed Tags
= feed_tag :atom, data.site.feed_link,     title: 'Atom Feed'
= feed_tag :rss,  data.site.feed_rss_link, title: 'RSS Feed'

/ Device specifier
meta name='viewport' content='width=device-width initial-scale=1' /

/ Meta stuff
- this_url = "https://codereading.club#{current_resource.url}"
link rel='canonical' href=this_url /
meta itemprop='name'         content=data.site.name /
meta itemprop='url'          content=this_url /
meta itemprop='about'        content=page_description /
meta itemprop='description'  content=page_description /
meta itemprop='thumbnailUrl' content=data.site.dark_image /

/ Open graph
meta property='og:site_name'   content=data.site.name /
meta property='og:title'       content=og_title(current_article, current_resource) /
meta property='og:url'         content=this_url /
meta property='og:type'        content='website' /
meta property='og:description' content=page_description /
meta property='og:image'       content=og_image_or_default(current_article, current_resource) /

/ Search engine index
- if current_resource && current_resource.metadata[:page][:noindex]
  meta name='robots' content='noindex' /

noscript
  = stylesheet_link_tag 'all'
